<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

	<listeners>
		<listener
			class-name="com.qa.extentReportListener.ExtentReportListener" />

		<listener
			class-name="com.carbonite.qa.RetryFailedTestLogic.TransformerForRetry" />


		<listener class-name="com.carbonite.qa.utils.CustomListener" />

	</listeners>
	<test thread-count="5" name="Test">
		<classes>
			<class name="com.carbonite.qa.tests.CompareBackUpPlanTest" />
			<class name="com.carbonite.qa.tests.BuisnessSolutionPageTest" />
			<class name="com.carbonite.qa.tests.SignUpPageTest" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
